.footer{
    width: 100%;
    position: absolute;
    background-color: black;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(160, 160, 160);
    span{
        font-size: 13px;
    }
}